#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003D4C;
    top: 0;
    width: 100%;
}

#navbar li {
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid #bbb;
}

#navbar li:last-child {
    border-right: none;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a.active {
    background-color: #4CAF50;
}

#navbar li a:hover {
    background-color: #00323d;
}


.item {
    width: 300px;
    height: 300px;
    float: left;
}

#cart{
    margin-top: 40px;
    border-style:none;
    width: 220px;
    height: 80px;
    padding-left: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background:url('http://192.168.33.10/homework/bicycleEC/img/cart.png') no-repeat;
    background-position: 10px;
    background-color: #2490D0;
}
#cart a{
    display: block;
    color: #fffafa;
    text-decoration: none;
    font-size :18px;
    width: 220px;
    line-height: 80px;
}
#cart:hover{
    background-color: #99daff;
}